# bad project files
*.csv

# Mac
.DS_Store
Icon
._*
.Spotlight-V100
.cache/

# SublimeText
/*.sublime-project
*.sublime-workspace

# SASS
.sass-cache
.cache

# Ignore Node Modules
node_modules/

# Ignore complexity output
complexity.xml

# Ignore Coverage output
coverage
.coverage

# Ignore Grunt temp files
.grunt

# Ignore link checker cache
.link-checker-cache

# Ignore captures from visual regression tool
captures

# Ignore local environmental variables
.env

# Ignore logs
*.log

# IntelliJ
.idea

# Visual Studio Code
.vscode

# VIM
*.swp
*.swo

# Local Cert for SSL
ssl

# Awesome Typescript Loader cache
.awcache/

# python
*.pyc
